# virtual environment/vscode
.venv/
settings.json
.DS_Store
.vscode/

# python stuff
__pycache__/
.ipynb_checkpoints/

# c++/root generated
*.d
*.so
*.pcm
*.swp
Selection_C_ACLiC*
SelectionEfficiency_C_ACLiC*
SelectionMigrationMatrix_C_ACLiC*
SelectionTopologyBreakdown_C_ACLiC
*_C_ACLiC*

# sbnana local build
v09_75_03/
